/** テキストフィールドの自動入力で背景が白くなってしまうのはchakra-uiから上書きできないためglobal.cssで上書きする **/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #140a00 inset;
  -webkit-text-fill-color: white;
  caret-color: white;
  transition: background-color 9999s ease-in-out 0s;
}
